*{ 
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}

h1 { 
    font-weight: 200;
    font-style: normal;
    color: #F8F8FF;
}
    
p { 
    font-weight: 200;
    font-style: normal;
    color: #F8F8FF;
}

body {
    background-color: #222222;
}

a {
    color: #C1C1C1;
}

.navbar{ 
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    animation: nav-load 850ms;
    background-color: transparent;
    height: 15px;
}

.navbar ul li{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{ 
    text-decoration: none;
    font-size: 17px;
    color: #F8F8FF;
}

.navbar ul li::after{
    content: ''; 
    height: 1px; 
    width: 0; 
    background: #F8F8FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{ 
    width: 100%;
}

.name-container {
    display: inline-block;
}

.name-container h1 {
    border-right: 2.5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s, cursor .4s step-end infinite alternate;
}

.subheading-container p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s, cursor .4s step-end infinite alternate;
}

.intro-text {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 100px;
}

.intro-text .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.intro-text .content h1 {
    max-width: 530px;
}

.intro-text .content p {
    max-width: 530px;
}

.summary p {
    margin-top: 30px;
    font-size: 20px;
}

.expsummary h1 {
    font-size: 23px;
    color: #E3E3E3;
    margin-top: 30px;
    margin-left: 75px;
    border-left: 1.5px solid;
    padding-left: 10px;
}

.expsummary h2 {
    font-size: 20px;
    color: #C1C1C1;
    margin-left: 75px;
    border-left: 1.5px solid #fff;
    padding-left: 10px;
}

.expsummary p {
    font-size: 17px;
    color: #C1C1C1;
    margin-left: 75px;
    border-left: 1.5px solid #fff;
    padding-left: 10px;
}

.expsummary li {
    color: #C1C1C1;
    margin-left: 75px;
    border-left: 1.5px solid #fff;
    padding-left: 30px;
}

.projects-header {
    margin-top: 220px;
    margin-left: 50px;
}

.projects-header p, .experience header p, .contact-header p {
    font-size: 30px;
}

.experience-header, .contact-header {
    margin-top: 100px;
    margin-left: 50px;
}

.slider, .slider1, .slider2 {
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;
}

.calc-text p, .pong-text p, .unreal-text p {
    font-size: 20px;
    margin-left: 50px;
}

.img-box {
    width: 200%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.btn {
    border: none;
    outline: none;
    background: #615b59;
    padding: 10px 30px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    margin: 10px auto;
    display: inline-block; 
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
    flex-basis: 100%; 
}

.btn:hover {
    background: #2e2d2d;
}

.fa-github, .fa-linkedin, .fa-instagram, .fa-envelope {
    color: #d3d3d3;
    font-size: 2.3rem;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.fa-github:hover, .fa-linkedin:hover, .fa-instagram:hover, .fa-envelope:hover {
    transform: scale(1.2); 
}

.fa-linkedin, .fa-instagram, .fa-envelope {
    padding: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-two-images {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 100px auto;
    animation: nav-load 850ms; 
}

.image-text {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 100px auto;
}

.row-of-two-images::after {
    content: ""; 
    display: table;
    clear: both;
    display: flex;
}

.row-of-two-images {
    display: flex; 
}

.one-two-images img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 60%;
}

.row {
    margin-top: 30px;
    max-width: 1170px;
    min-height: 90vh;
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
    padding: 5rem 0;
    padding-left: 50px;
    margin: 5px auto;
}

.row img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.row .imgwrapper {
    overflow: hidden;
}

.row .imgwrapper img {
    width: 100%;
}

.row .contentwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.content2 p {
    font-size: 50px;
}


@keyframes nav-load { 
    0% {
        transform: translateY(-100%); 
    }
    100% { 
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    p {
        font-size: 1.0rem;
    }
    
    img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
        transform: translate3d(0, 0, 1px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 3rem; 
    }

    p {
        font-size: 1.5rem; 
    }

    img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
        transform: translate3d(0, 0, 1px);
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 6rem; 
    }

    p {
        font-size: 2rem; 
    }

    img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
        transform: translate3d(0, 0, 1px);
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}