*{ /* this will be applied to the entire website */
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

h1 { /* edit style of h1 for entire website */
    font-weight: 200;
    font-style: normal;
    color: #F8F8FF;
}
    

p { /* edit style of p for entire website */
    font-weight: 200;
    font-style: normal;
    color: #F8F8FF;
}

body { /* edit background colour for entire website (ghost white) */
    background-color: #222222
}

.navbar{ /* styling of the navigation bar */
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex; /* responsive */
    align-items: center;
    justify-content: center;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
    background-color: transparent;
    height: 15px;
}

.navbar ul li{ /* styles everything within ul li tags (text) */
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{ /* styles everything within ul li a tags (text) */
    text-decoration: none;
    font-size: 17px;
    color: #F8F8FF;
}

.navbar ul li::after{ /* once the cursor is no longer hovering or was never over some text in the navbar, this is applied */
    content: ''; /* similar to that of width 0, removes underline */
    height: 1px; 
    width: 0; /* removes hovering underline on text*/
    background: #F8F8FF;
    position: absolute;
    left: 0;
    bottom: -10px; /* margin from underline to text */
    transition: 0.5s; /* 0.5s for underline to disappear under text */
}

.navbar ul li:hover::after{ /* once the cursor is hovering over some text in the navbar, this overwrites the width from .navbar ul li::after */
    width: 100%; /* adds hovering underline on text */
}

.intro-text {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.intro-text .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.intro-text .content h1 {
    max-width: 600px;
}

.intro-text .content p {
    max-width: 600px;
}

.fa-github, .fa-linkedin, .fa-instagram, .fa-envelope {
    color: #d3d3d3;
    font-size: 2.3rem;
    margin-top: 10px;
}

.fa-linkedin, .fa-instagram, .fa-envelope {
    padding: 5px;
}

.one-two-images { /* styling for displaying one to two images side by side */
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    width: 100%; /* images fit across screen nicely */
    margin: 100px auto; /* adjusting space between images */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.row-of-two-images::after {/* clearing the formatting for the lines afterneath - without this lines afterneath wont format correctly */
    content: ""; 
    display: table;
    clear: both;
    display: flex;
}

.row-of-two-images {
    display: flex; /* responsive flexbox */
}

.one-two-images img {
    width: auto;
    height: 60%;
    border-radius: 60%;
}

@keyframes nav-load { /* adds animation tool that can be used for anything in websites (navload 500ms will go from a y value of -100% to 0 in 500 milliseconds) */
    0% {
        transform: translateY(-100%); /* at start of animation, push element upwards */
    }
    100% { /* after animation, navbar moved back to original position */
        transform: translateY(0);
    }
}

/* smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; /* font size for smaller screens */
    }

    p {
        font-size: 1rem; /* font size for smaller screens */
    }
    
    img {
        max-width: 100%; /* images scale down if they're larger than the container */
        max-height: auto; 
    }
}

/* medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 4rem; /* font size for medium screens */
    }

    p {
        font-size: 1.25rem; /* font size for medium screens */
    }

    img {
        max-width: 100%; /* images scale down if they're larger than the container */
        max-height: auto; 
    }
}

/* for larger screens */
@media (min-width: 1025px) {
    h1 {
        font-size: 6rem; /* font size for larger screens */
    }

    p {
        font-size: 2rem; /* font size for larger screens */
    }

    img {
        max-width: 100%; /* images scale down if they're larger than the container */
        max-height: auto; 
    }
}
