*{ /* this will be applied to the entire website */
    margin: 0;
    padding: 0;
}

h1 { /* edit style of h1 for entire website */
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

p { /* edit style of p for entire website */
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'helvetica', sans-serif;
    font-size: 20px;
}

body { /* edit background colour for entire website (ghost white) */
    background-color: #F8F8FF;
}

footer { /* style footer for entire website */
    background: #1D65B0;
    position: relative;
    bottom: 0; /* set at bottom */
    left: 0;
    right: 0;
    height: auto;
    width: 100%; /* stretch for entire screen */
    font-family: 'helvetica', sans-serif;
    padding-top: 20px; /* extend top */ 
    color: #fff; /* colour of text */
    border-top: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
}

.footer-bottom {
    margin-top: 100px; /* necessary for one.html, two.html, three.html to create space above footer so footer is always where it should be */ 
}

.footer-content { /* aligning footer items and making it responsive */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p { /* styling p for footer content */
    margin: 5px auto;
    font-size: 14px;
}

.footer-content span { /* styling the name part of footer */
    opacity: 0.6;
}

.navbar{ /* styling of the navigation bar */
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex; /* responsive */
    align-items: center;
    justify-content: center;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
    background-color: #1D65B0;
    border-bottom: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
    height: 15px;
}

.header-graphic-home {
    background-image: url('stadium.jpg');
    background-size:cover;
    height: 400px;
    border-bottom: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.header-graphic-intro {
    background-image: url('oldpitch.jpg');
    background-size:cover;
    height: 400px;
    border-bottom: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.header-graphic-development {
    background-image: url('evolution.jpg');
    background-size:cover;
    height: 400px; 
    border-bottom: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.header-graphic-technology {
    background-image: url('technology.jpg');
    background-size:cover;
    height: 400px; 
    border-bottom: 2px solid #C0C0C0; /* adds a slight border to the bottom of the navbar */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.navbar ul li{ /* styles everything within ul li tags (text) */
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar ul li a{ /* styles everything within ul li a tags (text) */
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}

.navbar ul li::after{ /* once the cursor is no longer hovering or was never over some text in the navbar, this is applied */
    content: ''; /* similar to that of width 0, removes underline */
    height: 1px; 
    width: 0; /* removes hovering underline on text*/
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px; /* margin from underline to text */
    transition: 0.5s; /* 0.5s for underline to disappear under text */
}

.navbar ul li:hover::after{ /* once the cursor is hovering over some text in the navbar, this overwrites the width from .navbar ul li::after */
    width: 100%; /* adds hovering underline on text */
}

figure {
    text-align: center; /* centers text */
}

figcaption { /* styles the captions underneath images */
    font-family: 'helvetica', sans-serif;
    font-size: 17px;
    margin-top: 5px; /* adds space between text and image so that the text is not directly underneath */
}

.content{ /* edit style of content */
    width: 100%;
    position: relative;
    top: 5%; /* adds space between title and navbar */
    text-align: center;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.error-404{ /* styles error 404 page */
    width: 100%;
    position: relative;
    top: 5%; /* adds space between title and navbar */
    text-align: center;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.error-404 h1 { /* styles tag h1 for error 404 page */
    font-size: 50px;
}

.image-404 {
    display: block;
    margin-left: auto; /* horizontally center elements in container */
    margin-right: auto; /* horizontally center elements in container */
    width: 33.33%; /* images fit across screen nicely */
    margin: 5px auto; /* adjusting space between images */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.image-404 img {
    border-style:none;
}

.content h1{ /* styles h1 tag for content */
    font-size: 70px;
    margin-bottom: 2%; /* space between h1 and p text */
}

.content p { /* styles p tag for content */
    margin-top: 2%; /* space between p and images */
}

img { /* adds border around all images */
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0); /* black border */
    max-width: 100%;
    height: auto;
}

.introheader { /* styles the header title for each page */
    width: 100%;
    position: relative;
    top: 5%; /* leaves gap between navbar */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
    text-align: center;
}

.main { /* edits main content for entire website (all text, images, etc - just extra spacing, centering, for better visuals) */
    width: 100%; /* responsive */
    position: relative;
    top: 5%;
    text-align: center;
}

.main h1 { /* styles h1 for tag main */
    text-decoration: none;
    text-align: left;
    margin-left: 75px; /* leave space from h1 and left side of screen */
    font-size: 28px;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.main p { /* styles p for tag main */
    text-align: left;
    margin-left: 75px; /* leave space from p and left side of screen */
    max-width: 90%;
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.one-two-images { /* styling for displaying one to two images side by side */
    display: block;
    margin-left: auto; /* horizontally center elements in container */
    margin-right: auto; /* horizontally center elements in container */
    width: 33.33%; /* images fit across screen nicely */
    margin: 5px auto; /* adjusting space between images */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.three-images { /* styling for displaying three images */
    float: left; /* position left side of container */
    width: 33.33%; /* images fit across screen nicely */
    padding: 5px; /* adjusting space between images */
    box-sizing: border-box; /* general way to size elements properly */
    animation: nav-load 850ms; /* animation that takes 850 milliseconds */
}

.four-images {
    float: left; /* position left side of container */
    width: 25%; /* images fit across screen nicely */
    padding: 20px; /* adjusting space between images */
    box-sizing: border-box; /* general way to size elements properly */
}

.row-of-three-images, .row-of-two-images, .row-of-four-images::after {/* clearing the formatting for the lines afterneath - without this lines afterneath wont format correctly */
    content: ""; 
    display: table;
    clear: both;
}

.row-of-two-images, .row-of-four-images {
    display: flex; /* responsive flexbox */
}

@keyframes nav-load { /* adds animation tool that can be used for anything in websites (navload 500ms will go from a y value of -100% to 0 in 500 milliseconds) */
    0% {
        transform: translateY(-100%); /* at start of animation, push element upwards */
    }
    100% { /* after animation, navbar moved back to original position */
        transform: translateY(0);
    }
}
